<ActionBar title="Tour of Heroes Detail"></ActionBar>

<StackLayout >
  <Label Text="Test"></Label>
  <Label Text="hero.name"></Label>

  <Label Text="hero.id"></Label>
  <Label Text="hero.name"></Label>

  <!--
    <div>
      <label>name: </label>
      <input [(ngModel)]="hero.name" placeholder="name" />
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>-->
</StackLayout>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->